<div class="page-image">
  <img src='<%= @image.data.url(:large) %>'>
</d>

<p>
  <a href="/portfolios/<%= @image.portfolio.id %>">back to porfolio</a>
</p>

<form action="/comments" method="POST" id="comment-form">
  <input type="hidden" name="comment[image_id]" value="<%= @image.id %>">
  <textarea rows="4" cols="50" name="comment[body]" placeholder="Enter text here..." form="comment-form"></textarea>
  <input type="submit">
</form>

<div class="errors">
  <ul>
    <% if @tag_errors %>
      <% @tag_errors.each do |error| %>
      <li>
        <%= error %>
      </li>
      <% end %>
    <% end %>
  </ul>
</div>

<text style="font-size:14px"><em>tags must start with a #</em></text>
<form type="text" action="/images/<%= @image.id%>/tags" method="post" class="form-box">
  <input type="text" name="tag[name]"  />
  <input type="submit" value="tag!" />
</form>

<br /><br />
<a href="/">back to entries</a>
</div>

<h2>comments:</h2>
<div id="comments">
  <% @image.comments.each do |comment| %>
    <p>
      <header><%= comment.author %></header>
      <%= comment.body %>
    </p>
  <% end %>
</div>
