<div class="images-show">

  <div class="left">
    <div class="page-image">
      <img src='<%= @image.data.url(:large) %>'>
    </div>
    <a href="/portfolios/<%= @image.portfolio.id %>">back to porfolio</a>

  </div>

  <div class="right">
    <div class="location-form">
      <% if @confrim_add_loca %>
        <%= @confrim_add_loca %>
      <% end %>
      <text>add a location</text>
      <form type="text" action="/images/<%= @image.id %>/location" method="post" class="form-box">
        <input type="text" name="name"  />
        <input type="submit" value="add" />
      </form>
    </div>

    <div class="tag-container">
      <% @image.tags.each do |tag| %>
        <a href="/tags/<%= tag.id %>/images"><%= tag.name %></a>
      <% end %>

      <p><em>tags must start with a #</em></p>
      <form type="text" action="/images/<%= @image.id%>/tags" method="post" class="form-box">
        <input type="text" name="tag[name]"  />
        <input type="submit" value="tag!" />
      </form>
    </div>

    <div class="comments">
      <form action="/comments" method="POST" id="comment-form">
        <input type="hidden" name="comment[image_id]" value="<%= @image.id %>">
        <textarea name="comment[body]" placeholder="Enter text here..." form="comment-form"></textarea>
        <input id="comment" type="submit" value="comment">
      </form>
    </div>

    <h2>comments:</h2>
    <div id="comments">
      <% @image.comments.each do |comment| %>
        <p>
          <header><%= comment.author %></header>
          <%= comment.body %>
        </p>
      <% end %>
    </div>

  </div>

</div>
